# Both Laptop and Raspberry Pi
numpy

# Only the Laptop (interface.py)
PyQt6
pyqtgraph
PyOpenGL
PyOpenGL_accelerate
open3d; python_version < "3.13"

# Only the Raspberry Pi (myLivox360.py, test_lidar.py, sender.py)
matplotlib
opencv-python
plyfile

# Please comment out the requirements that are not needed for the specific device during your install!